body{
    background-color:rgb(255, 215, 55);
    padding:0px;
    margin:0px;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.blog{
    background-color: white;
    display:flex;
    flex-direction:column;
    padding:15px;
    gap:0px;
    justify-content: center;
    align-items:flex-start;
    width:350px;
    border-radius: 10px;
    border:2px solid black;
    border-bottom:10px solid black ;
    border-right:10px solid black ;
    border-bottom-right-radius: 10px;
}

.image img{
    width:100%;
    border-radius: 10px;

}

h2{
    background-color: rgb(255, 215, 55);
    border-radius: 5px;
    padding:0.5rem;
}

.p1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.2;   /* ✔ FIXED */
    font-size: 1.3rem;  /* ✔ optional, keeps card compact */
}

.p2{
    font-family: serif;
    font-size: medium;
    font-weight: lighter;
    line-height:1.8;
}

.last{
    display:flex;
    gap:20px;
}

.p3{
    font-weight: bold;
}